body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#nav{
    /* height: 3.3em; */
    width: 100%;   
}

#nav ul{
    list-style-type: none;
    margin: 0 2em;
    padding: 0;
    overflow: hidden;
}

#nav li{
    float: right;
}

#nav li a{
    font-size: 1.1vw;
    display: block;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    color: #333;
}
#nav li a:hover{
    cursor: pointer;
}

.blackNav{
    position: absolute;
    left: -1em;
    top: 0;
    width: 43%;
    height: 3.4em;
    background-color: #333;
    transform: skewX(-20deg);
}

.blackNav img {
    transform: skewX(20deg);
    position: relative;
    left: 13%;
    top: 24%;
    height: 1.9em;
}





/* TopContainer */
.topContainer{
    width: 100%;
    height: 97vh;
    position: relative;
    background-image: url(assets/hero-bg.JPG);
    background-size: 100% 100%;
    z-index: -1;
}

.topContainer img{
    position: absolute;
    height: 42em;
    width: 100%;
    z-index: -1;
}

.whiteCircle{
    position: absolute;
    top: 10em;
    right: 9em;
    height: 40%;
    width: 20%;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(assets/title-sponsor-paytm.png);
    background-repeat: no-repeat;
    background-size: 64%;
    background-position: center;
}

.whiteCircle div{
    /* background-color: tomato; */
    width: 15vw;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: #333
}
.whiteCircle div h1{
    font-size: 7vw;
}

.blackTag{
    background-color: rgb(29, 29, 29);
    position: absolute;
    right: -1em;
    bottom: 5em;
    height: 5.7em;
    width: 43%;
    transform: skewX(-20deg);
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        "mec1 ibeto2 excel3"
}

.blackTag img{
    transform: skewX(20deg);
    height: 3.5em;
    width: 9.5vw;
    justify-self: center;
    align-self: center;
}
#excel{
    grid-area: excel3;
    justify-self: start;
    height: 4vw;
    width: 8.2vw;
}
#ibeto{
   grid-area: ibeto2;
   height: 5vw;
   width: 5.5vw;
}
#mec{
    grid-area: mec1;
    justify-self: end;
}

.content{
    position: absolute;
    top: 4em;
    left: 6em;
    height: 27em;
    width: 47em;
    /* background-color: tomato; */
    color: white;
    padding: 5em 1em;
}

.content h1{
    line-height: 0.7em;
    font-size: 4vw;
    margin-top: 15px;
    font-weight: bold;
}

.content p{
    margin-top: 3em;
    line-height: 1.5em;
    font-size: 1.6vw; 
}

.content button{
    margin-top: 1.7em;
    font-size: 1.4vw;
    height: 3em;
    width: 17vw;
    color: white;
    background: none;
    border: 3px solid white;
    border-radius: 7px;
}
.content button:hover{
    cursor: pointer;
}

.content button[disabled] {
    opacity: .6;
}


/* MID Container */
.midContainer{
    width: 100%;
    height: auto;
    display: grid;
    margin-bottom: 7em;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "box1 box1"
        "box2 box3";
}

.midContent{
    /* background-color: tomato; */
    grid-area: box1;
    padding: 2em 5em;
    line-height: 2.3em;
    font-size: 35px;
    color: #1b5e20;
}

.midImage{
    /* background-color: teal; */
    grid-area: box2;
    display: grid;
}
.midImage i{
    font-size: 7vw;
    justify-self: center;
    align-self: center;
    color: #1b5e20;
}
#midImagecontent{
    justify-self: center;
    align-self: center;
    line-height: 1px;
    margin-top: 2.5em;
}
#midImagecontent h1{
    margin-top: 0.3em;
    color: #1b5e20;
}
.midImage span{
    font-size: 2em;
}

.midAddress{
    /* background-color: #333; */
    grid-area: box3;
    display: grid;
}
#midAddresscontent{
    align-self: center;
    justify-self: center;
    line-height: 1.5em;
    font-size: 2vw;
    display: grid;
}
#midAddresscontent i{
    font-size: 7vw;
    align-self: center;
    justify-self: center;
    margin-bottom: 0.2em;
    color: #1b5e20;
}
#line2{
    color: #1b5e20;
}







/* Details DIV */
.detailsDiv{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
    background-color: #59b76e;
}

.details{
    padding: 3em 0 5em 3em;
    color: white;
    padding-left: 8em;
}
.details h1{
    font-size: 5vw;
}
.details li{
    line-height: 1em;
    padding: 0.7em;
    font-size: 25px;
}

.details li i{
    margin-right: 10px;
}

.detailImage{
    position: relative;
}

.detailImage i{
    font-size: 20vw;
    position: absolute;
    top: 0.7em;
    left: -0.9em;
    color: white;
}







/* Bottom Div */
.bottomDiv{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 0.8fr 3fr;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
        "head head"
        "image content";
    margin-top: 3em;
}

.bottomHead{
    /* background-color: tomato; */
    grid-area: head;
    display: grid;
}
.bottomHead h1{
    justify-self: center;
    color: #00695c;
}

.bottomImage{
    /* background-color: teal; */
    grid-area: image;
    display: grid;
    padding-top: 5em;
}
.bottomImage h3{
    color: gray;
    line-height: 1;
}
.bottomImage div{
    justify-self: center;
    line-height: 1px;
    padding-left: 7em;
    padding-bottom: 8em;
}

.bottomContent{
    /* background-color: #333; */
    grid-area: content;
    padding: 3em;
    font-size: 1.6em;
    line-height: 1.6;
}











/* Prize Div */
.prizeDiv{
    width: 100%;
    height: 110vh;
    display: grid;
    color: white;
    background-color: #59b76e;
    padding-bottom: 1em;
    grid-template-rows: 1.2fr 5fr;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
        "prizeHead prizeHead prizeHead"
        "second first third";
}

.prizeHead{
    grid-area: prizeHead;
    /* background-color: tomato; */
    position: relative;
}
.prizeHead h1{
    justify-self: flex-start;
    position: absolute;
    left: 1.5em;
}

.second{
    grid-area: second;
    /* background-color: teal; */
    display: grid;
}
.secondBox{
    background: none;
    border: 5px solid white;
    border-radius: 7px;
    height: 65%;
    width: 75%;
    justify-self: center;
    align-self: center;
    position: relative;
    display: grid;
}
.secondBox .trophy{
    font-size: 9vw;
    justify-self: center;
    position: absolute;
    top: 0.6em;
}
.secondBox div{
    justify-self: center;
    align-self: center;
    font-size: 3vw;
    line-height: 1.3em;
    padding: 0;
    display: grid;
    margin-top: 5em;
}
.secondBox div span{
    justify-self: center;
}



.first{
    grid-area: first;
    /* background-color: yellow; */
    display: grid;
}
.firstBox{
    background: none;
    border: 5px solid white;
    border-radius: 7px;
    height: 85%;
    width: 85%;
    justify-self: center;
    align-self: center;
    display: grid;
    position: relative;
}
.firstBox .trophy{
    font-size: 13vw;
    justify-self: center;
    position: absolute;
    top: 0.5em;
}
.firstBox div{
    justify-self: center;
    align-self: center;
    font-size: 4vw;
    line-height: 1.3em;
    padding: 0;
    display: grid;
    margin-top: 5em;
}
.firstBox div span{
    justify-self: center;
}



.third{
    grid-area: third;
    /* background-color: #333; */
    display: grid;
}
.thirdBox{
    background: none;
    border: 5px solid white;
    border-radius: 7px;
    height: 65%;
    width: 75%;
    justify-self: center;
    align-self: center;
    position: relative;
    display: grid;
}
.thirdBox .trophy{
    font-size: 9vw;
    justify-self: center;
    position: absolute;
    top: 0.6em;
}
.thirdBox div{
    justify-self: center;
    align-self: center;
    font-size: 3vw;
    line-height: 1.3em;
    padding: 0;
    display: grid;
    margin-top: 5em;
}
.thirdBox div span{
    justify-self: center;
}










/* FooterDiv */
.footerDiv{
    width: 100%;
    height: 50vh;
    padding-top: 2em;
    background-color: #333;
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 4fr 2fr 2fr;
    grid-template-areas: 
        "logo ibeto excel"
        "brand brand brand";
}

.footerDiv a {
    color: white;
}


.logo{
    grid-area: logo;
    /* background-color: tomato; */
    color: white;
    display: grid;
}
.logo img{
    justify-self: center;
    align-self: center;
}
.logo div{
    justify-self: center;
    margin: -2em;
}
.logo div a{
    color: white;
    font-size: 22px;
    padding: 0 1em;
}
.logo div a:hover{
    cursor: pointer;
}




.footerIbeto{
    grid-area: ibeto;
    /* background-color: teal; */
    display: grid;
}
.footerIbeto img{
    justify-self: center;
    align-self: center;
    height: 5em;
}
.footerIbeto div{
    justify-self: center;
    color: white;
    margin-top: -1em;
}




.footerExcel{
    grid-area: excel;
    /* background-color: #333; */
    display: grid;
}
.footerExcel img{
    justify-self: center;
    align-self: center;
    height: 5em;
}
.footerExcel div{
    justify-self: center;
    color: white;
    margin-top: -1em;
}




.Excelbrand{
    grid-area: brand;
    /* background-color: brown; */
    display: grid;
}
.Excelbrand span{
    align-self: center;
    justify-self: center;
    color: white;
}






/* Responsive - Mobile View */
@media(max-width: 768px){

    .blackNav {
        position: static;
        left: 0;
        top: 0;
        width: 100%;
        transform: none;
        text-align: center;
    }

    .blackNav img {
        height: 1.3em;
        transform: none;
        left: 0;
        top: 30%;
    }
    
    /* NavBar */
    #nav ul{
        background-color: white;
        margin: 0;
    }

    #nav li a{
        font-size: 10px;
        padding: 15px 5px;
    }


    /* Top Container */
    .topContainer{
        height: auto !important;
    }
    .topContainer img{
        height: 80%;
    }
    
    .whiteCircle{
        /* height: 25%;
        width: 32%;
        top: 25%;
        right: 4%;
         */
        display: none;
    }
    .whiteCircle div h1{
        font-size: 11vw;
        padding-bottom: 9px;
    }
    
    .blackTag{
        /* width: 57%;
        height: 9%;
        top: 60%; */
        display: none;
    }
    .blackTag img{
        height: 60%;
        width: 70%;
    }
    #excel{
        height: 65%;
        width: 80%;
    }
    #ibeto{
        height: 70%;
        width: 67%;
    }

    .content{
        width: 100%;
        position: static;
    }
    .content h1{
        font-size: 1.7em;
        
    }
    .content p{
        font-size: 2.8vw;
    }
    .content button{
        font-size: 2.5vw;
        height: 20%;
        width: 60%;
        margin-top: 2em;
    }

    /* Mid Container */
    .midContainer{
        margin-bottom: 1em;
    }
    .midContent{
        padding: 4px 1.5em;
        font-size: 19px;
        display: grid;
    }
    .midContent p{
        align-self: center;
        justify-self: center;
    }
    .midImage i{
        font-size: 4em;
    }
    #midAddresscontent{
        font-size: 1em;
        align-self: flex-start;
    }
    #midAddresscontent i{
        font-size: 4em;
        margin-bottom: 0.5em;
    }


    /* Details Div */
    .details{
        padding: 1em 0 2em 1em;
    }
    .details li{
        font-size: 13px;
    }
    .details h1{
        font-size: 9vw;
    }
    .detailImage i{
        /* left: -1em; */
        display: none;
    }


    /* Bottom Div */
    .bottomDiv{
        margin-top: 2em;
        grid-template-rows: 0.1fr 0.8fr 2fr;
        grid-template-columns: auto;
        grid-template-areas: 
            "head"
            "image"
            "content"
    }
    .bottomHead h1{
        font-size: 10vw;
    }
    .bottomImage{
        margin-top: 2em;
        padding: 0 2em;
    }
    .bottomImage div {
        padding: 0;
    }
    .bottomContent{
        height: auto;
        padding: 2em 2em;
        font-size: 22px;
    }


    /* PrizeDiv */
    .prizeDiv{
        height: auto;
        grid-template-rows: auto auto auto;
    }
    .prizeHead{
        margin-bottom: 7em;
    }
    .prizeHead h1{
        font-size: 9vw;
    }

    .prizeDiv .trophy {
        /* display: none; */
        position: static;
    }
    .prizeDiv .firstBox, .prizeDiv .secondBox, .prizeDiv .thirdBox {
        padding: 1.3em 0;
        height: auto;
    }
    .prizeDiv .firstBox div, .prizeDiv .secondBox div, .prizeDiv .thirdBox div {
        margin: 0;
        margin-top: 1em;
    }


    /* Footer */
    .footerDiv{
        height: 30vh;
    }
    .logo img{
        display: none;
    }
    .logo div {
        margin-top: 1em;
    }
    .logo div span {
        display: block;
    }
    .logo div a{
        font-size: 10px;
        padding: 0 4px;
    }
    .footerIbeto img{
        height: 3em;
    }
    .footerIbeto div{
        font-size: 8px;
    }
    .footerExcel {
        margin: 0 1em;
    }
    .footerExcel img{
        height: 3em;
    }
    .footerExcel div{
        font-size: 8px;
    }

}